@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Story</title>
</head>
<body>
    <div>
        <h1>Биография</h1><h2>Ранние годы</h2>Говядко Илья Дмитриевич, родился 30 января 1997 года в Санкт-Петербурге и всю свою жизнь прожил <br> в пригороде Санкт-Петербурга - Пушкине.
        В 2000 году пошел в детский сад №32.<h2>Молодость</h2>В 2004 году пошел в гимназию №406, находящуюся в Пушкине. В 2011 году поступил в Лицей ФТШ. <h2>Старость</h2>В 2015
        году поступил в Университет ИТМО на специальность, "Прикладная информатика" где и обучается в данный момент.
    </div>
</body>
</html>