@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style='text-align: center'>
        <FONT COLOR="#00008B" SIZE="7"> Добро пожаловать на оффициальный сайт Ильи Говядко!</FONT> <br>
        <IMG SRC=https://pp.vk.me/c630128/v630128670/2d5f/Y4xsNL-XV-8.jpg>
    </div>
</body>
</html>
